body 
{
  background-image:url('images/bg-body.jpg');
}
#logo
{
    width: 393px ;
    height:61px;
    margin-left: 48px;
}

#cssmenu 
{
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    position:relative;
	margin:0px;
	padding:0px;
	font-size:14px;
	font-weight:bold;
    font-style: normal;
    font-variant: normal;
    line-height: normal;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    top: -57px;
    left: 466px;
    width:594px;
}
#cssmenu  ul{
	background:#F93;
	height:50px;
	list-style:none;
	margin:0;
	padding:0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
	box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
	}
	#cssmenu  li{
		float:right;
		padding:0px 0px 0px 30px;
    margin-left: 0px;
    
    
}
	#cssmenu  li a{
		color:#000;
		display:block;
		font-weight:normal;
		line-height:50px;
		margin:0px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
	#cssmenu  li a:hover{
		background:#C60;
		color:#FFFFFF;
		text-decoration:none;
		-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
		-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
		box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
		}
	#cssmenu  ul li:hover a{
		background:#C60;
		color:#FFFFFF;
		text-decoration:none;
		}
	#cssmenu  li ul{
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:200px;
		z-index:200;
		}
	#cssmenu  li:hover ul{
		display:block;		
		}
	#cssmenu  li li {
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:200px;
		background:#F93;
		/*this is where the rounded corners for the dropdown disappears*/
		}
	#cssmenu  li:hover li a{
		background:none;
		}
	#cssmenu  li ul a{
		display:block;
		height:50px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
	#cssmenu  li ul a:hover, #cssmenu  li ul li:hover a{
		border:0px;
		color:#ffffff;
		text-decoration:none;
		background:#C60;
		-webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
		-moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
		box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3); 
		}	